<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Song</title>
    <link rel="stylesheet" href="sources/style.css">
    <link rel="stylesheet" href="sources/bootstrap.min.css">
    <script type="text/javascript" src="sources/bootstrap.min.js"></script>
    <script type="text/javascript" src="sources/bootstrap.bundle.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
</head>
<body>
    <!-- <form action="" method="post">
        <input type="text" name="party_name" value="Your Party Name">
        <br><br>
        <input type="text" name="song_name" value="Song Name">
        <br><br>
        <input type="text" name="artist_name" value="Artist Name <Optional>">
        <br><br>
        <input type="text" name="uri" value="URI">
        <br><br>
        <input type="checkbox" name="filter_songs" value="Filter Songs">Filter Explicit Songs<br>
        <input type="submit" value="Submit">
    </form> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="home.html">Spotify Jukebox</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu
        </a>
          <!-- Here's the magic. Add the .animate and .slide-in classes to your .dropdown-menu and you're all set! -->
          <div class="dropdown-menu dropdown-menu-right animate slideIn" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/get_auth_code">Create Party</a>
            <!-- <a class="dropdown-item" href="view_party.html">View Party</a> -->
            <a class="dropdown-item" href="add_song.html">Add Song</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="home.html">Home</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

 <div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h1 class="login-heading mb-4">Add Song</h1>
              <form>
                <div class="form-label-group">
                    <input type="text" name="party_name" class="form-control" placeholder="Party" required autofocus>
                    <label for="party_name">Party</label> 
                </div>
                <div class="form-label-group">
                    <input type="text" name="song_name" class="form-control" placeholder="Song" required autofocus>
                    <label for="song_name">Song</label> 
                </div>
                <div class="form-label-group">
                    <input type="text" name="artist_name" class="form-control" placeholder="Artist" required autofocus>
                    <label for="artist_name">Artist (Optional)</label> 
                </div>
                <div class="form-label-group">
                    <input type="text" name="uri" class="form-control" placeholder="Spotify URI" required autofocus>
                    <label for="uri">Song URI (Optional)</label> 
                </div>
                 <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" name="explicit_filter">
                    <label class="custom-control-label" for="explicit_filter">Filter Explicit Songs</label>
                </div>
                <input class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit" value="Submit">
              </form>
              <!-- currently working on this -->
                <div>
                    <a name="prev_track" value = "{{ prev_track }}"></a>
                    <a name="current_track" value = "{{ current_track }}"></a>
                    <a name="next_track" value = "{{ next_track }}"></a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>