<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="" method="post">
        <input type="text" name="party_name" value="Your Party Name">
        <br><br>
        <input type="text" name="song_name" value="Song Name">
        <br><br>
        <input type="text" name="artist_name" value="Artist Name <Optional>">
        <br><br>
        <input type="text" name="uri" value="URI">
        <br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>