<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spotify JukeBox</title>
    <link rel="stylesheet" href="sources/style.css">
    <link rel="stylesheet" href="sources/bootstrap.min.css">
	<script type="text/javascript" src="sources/bootstrap.min.js"></script>
	<script type="text/javascript" src="sources/bootstrap.bundle.min.js"></script>
</head>
<body>
    <!-- <h1>Home</h1>
    <div>
        <a href="/get_auth_code">Create Party</a>
        <br><br>
        <a href="add_song"> Add song</a>
    </div> -->
<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h1 class="login-heading mb-4">Spotify Jukebox</h1>
                <a href="/get_auth_code" class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" role="button" aria-pressed="true">Create Party</a>
                <!-- <a href="view_party.html" class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" role="button" aria-pressed="true">View Party</a> -->
                <a href="add_song.html" class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" role="button" aria-pressed="true">Add Song</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>